.home-page-content {
    margin: auto;
    width: 80%;
    /*background-image: url('../img/fond-ecran-principal.jpg')*/
}

.section_search {
    margin-bottom: 30%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.section_search>a {
    margin: auto;
    padding-top: 10px;
}

.home-page-content .section_search h1 {
    margin-bottom: 4%;
    text-align: center;
}


/* ELEMENTS LIST FORM */

.bloc-form {
    border: 0px solid black;
    margin: auto;
    width: 80%;
    display: flex;
}

.bloc-form-results {
    border: 0px solid black;
    margin: auto;
    padding-top: 5px;
    width: 60%;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-control2 {
    padding-left: 5px;
    display: block;
    width: 70%;
    flex: 1;
    font-size: 1rem;
    line-height: 2.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-radius: 34px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.rech_avancee:hover {
    color: rgb(240, 29, 29);
}

.rech_avancee:active {
    background-color: rgb(159, 209, 192);
}


/* INDEX and RESULT PAGE */

.doc-block {
    border-radius: 5px;
    border-top-style: groove;
    border-bottom-style: groove;
    padding-left: 3px;
    padding-right: 2px;
    padding-top: 6px;
    padding-bottom: 3px;
    font-size: 12px;
}

.titre-block {
    color: #1E26C8;
}

.titre-doc {
    color: #19A882;
    font-size: 14px;
}

.auteur-doc {
    color: #079C0A;
    font-family: alex-brush;
    font-size: 14px;
}

.main-results {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
}

.main-results>a {
    margin: auto;
    padding-top: 6px;
}

.result-blocks {
    width: 60%;
    margin: auto;
}


/* FORMULAIRE AVANCEE ********************/

.bloc-form-rech-avancee {
    border: 0px solid black;
    margin: auto;
    width: 80%;
    display: flex;
}

input[type=submit],
input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


/** GESTION DES TAILLES D'ECRANS */

@media screen and (max-width:1024px) {
    .font-table {
        font-size: 11px;
    }
    .bouton-search {
        padding: .175rem .25rem;
        margin-left: 10px;
    }
    .bloc-form {
        margin: 2px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .bloc-form-results {
        width: 90%;
        padding-top: 2px;
    }
    .form-control2 {
        display: block;
        width: 100%;
        font-size: 0.8rem;
        line-height: 2.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        border-radius: 34px;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    .result-blocks {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .doc-block {
        border-radius: 3px;
        border-top-style: groove;
        border-bottom-style: groove;
        margin-top: 3px;
        margin-bottom: 2px;
        font-size: 10px;
    }
    .main-results>a {
        margin: auto;
        padding-top: 2px;
    }
}

@media screen and (max-width:770px) {
    /* #navbar {
        border: 3px red solid;
        height: 15vh;
    }*/
    nav>ul {
        display: block;
        left: 0;
        background: none;
        position: relative;
        height: 10vh;
        top: auto;
        transition: none;
        font-size: 9px;
    }
    .form-control2 {
        padding-left: 5px;
        width: 100%;
        flex: 1;
        font-size: 0.8rem;
        line-height: 2.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        border-radius: 34px;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    .bloc-form-rech-avancee {
        flex-direction: column;
        justify-content: space-between;
    }
    .bloc-form-rech-avancee>input {
        margin-bottom: 6px;
    }
    .bloc-form-rech-avancee>input[type=submit] {
        height: 40px;
        text-align: center;
        padding-bottom: 0px;
        padding-top: 0px;
    }
}