/* HOME PAGE */

.logo-container {
    flex: 1;
    display: flex;
    background-color: blueviolet;
}


/* NAV styles */

header nav {
    flex: 2;
    background-color: rgb(226, 125, 43);
}

.nav-wrapper {
    display: flex;
    /* Mettre un grand epace*/
    justify-content: space-between;
    padding: 8px;
}

.left-side {
    display: flex;
    margin-right: 0px;
}

.nav-wrapper>.left-side>div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    /* Ajouter une animation css d'une demie seconde*/
    transition: border-botton 0.5s;
}

.nav-link-wrapper a {
    /* Dans le nav prend le link a*/
    color: rgba(255, 30, 0, 0.767);
    /*#8a8a8a;*/
    text-decoration: none;
    /* Ici on anime ausso la couleur*/
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 0px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.nav-link-wrapper.selected {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    /* Changer le comportement par défaut  */
    color: black !important;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}


/** GESTION DES TAILLES D'ECRANS */

@media screen and (max-width:768px) {
    nav>h1 {
        font-size: 20px;
    }
    .left-side {
        position: absolute;
        right: 0px;
        height: 40vh;
        top: 12.5vh;
        background-color: blue;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(110%);
        transition: transform 1.5 ease-in;
        overflow-x: inherit;
        background-image: url(../img/fond-ecran-liste.jpg);
    }
    .left-side .nav-link-wrapper {
        margin: 12px;
        opacity: 3;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

.nav-de-active {
    transform: translateX(0%);
}

@keyframes leftSideFade {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}