.page-content {
    margin: auto;
    width: 80%;
    /*background-image: url('../img/fond-ecran-principal.jpg')*/
}

.section_search {
    margin-bottom: 30%;
    margin-top: 10%;
}

.page-content .section_search h1 {
    margin-bottom: 4%;
    text-align: center;
}


/* ELEMENTS LIST FORM */

.bloc-form {
    border: 0px solid black;
    margin: auto;
    width: 80%;
    display: flex;
}

.bloc-form-results {
    border: 0px solid black;
    margin: auto;
    padding-top: 5px;
    width: 60%;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-control2 {
    padding-left: 5px;
    display: block;
    width: 70%;
    flex: 1;
    font-size: 1rem;
    line-height: 2.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-radius: 34px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


/* INDEX and RESULT PAGE */

.doc-block {
    border-radius: 5px;
    border-top-style: groove;
    border-bottom-style: groove;
    padding-left: 3px;
    padding-right: 2px;
    padding-top: 6px;
    padding-bottom: 3px;
    font-size: 12px;
}

.titre-block {
    color: #1E26C8;
}

.titre-doc {
    color: #19A882;
    font-size: 14px;
}

.auteur-doc {
    color: #079C0A;
    font-family: alex-brush;
    font-size: 14px;
}

.main-results {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}


/** GESTION DES TAILLES D'ECRANS */

@media screen and (max-width:1024px) {
    .font-table {
        font-size: 11px;
    }
    .bouton-search {
        padding: .175rem .25rem;
        margin-left: 2px;
    }
    .bloc-form {
        margin: 2px;
        display: flex;
        width: 100%;
    }
    .form-control2 {
        padding: .175rem .25rem;
        display: block;
        width: 90%;
        flex: 1;
        font-size: 0.8rem;
        line-height: 2.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        border-radius: 34px;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
}